<html>
<body>
<center>
<h1> The Current Server is Running With OS Family {{ ansible_os_family }}</h1> 
<br>
<h1> The Current User {{ user_name }}</h1> 
<br>
<h1> The Current Host Name {{ ansible_hostname }}</h1> 
</center>
</body>
</html>
